{% load static %}
{% include 'header.html' %}
<!-- offcanvas overlay start -->        <!-- offcanvas overlay end -->
<!-- OffCanvas Wishlist Start -->
<div id="offcanvas-wishlist" class="offcanvas offcanvas-wishlist">
    <div class="offcanvas-overlay"></div>
    <div class="inner">
        <div class="head">
            <span class="title">Wishlist </span>
            <button class="offcanvas-close">×</button>
        </div>
        <div class="body customScroll">

        </div>
        <div class="foot">
            <div class="buttons">
                <a href="wishlist.html" class="btn btn-dark btn-hover-primary mt-30px">View Wishlist</a>
            </div>
        </div>
    </div>
</div>
<!-- OffCanvas Wishlist End -->
<!-- OffCanvas Cart Start -->
<div id="offcanvas-cart" class="offcanvas offcanvas-cart">
    <div class="inner">
        <div class="head">
            <span class="title">Cart</span>
            <button class="offcanvas-close">×</button>
        </div>
        <div class="body customScroll">

        </div>
        <div class="foot">
            <div class="buttons mt-30px">
                <a href="cart.html" class="btn btn-dark btn-hover-primary mb-30px">View Cart</a>
                <a href="checkout.html" class="btn btn-outline-dark current-btn">Checkout</a>
            </div>
        </div>
    </div>
</div>
<!-- OffCanvas Cart End -->
<!-- OffCanvas Menu Start -->
<div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
    <button class="offcanvas-close"></button>
    <div class="user-panel">
        <ul>
            <li><a href="tel:+390694807788"><i class="fa fa-phone"></i> +39 06 9480 7788</a></li>
            <li><a href="mailto:info@laptopstore.it"><i class="fa fa-envelope-o"></i> info@laptopstore.it</a></li>
            <li><a href="my_account.html"><i class="fa fa-user"></i> Account</a></li>
        </ul>
    </div>
    <div class="inner customScroll">
        <div class="offcanvas-menu mb-4">
            <ul>
                <li><a href="#"><span class="menu-text">Home </span></a>

                </li>
                <li><a href="about.html">About Us</a></li>

            </ul>
        </div>
        <!-- OffCanvas Menu End -->
        <div class="offcanvas-social mt-auto">
            <ul>
                <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-google"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-youtube"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- OffCanvas Menu End -->
<!-- breadcrumb-area start -->
<!-- breadcrumb-area end -->
<!-- About section Start -->
<!-- About section End -->
<!-- Team Area Start -->
<div class="team-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2 class="title line-height-1">Team Members</h2>
                    <p>We appreciate all your efforts</p>
                </div>
            </div>
        </div>
        <div class="row mb-n-30px justify-content-center">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 mb-lm-30px mb-lg-30px mb-md-30px">
                <!-- Single Team -->
                <div class="team-wrapper ">
                    <div class="team-image overflow-hidden">
                        <img src="{% static 'images/team/behnam-ahmadi.jpg' %}" class="rounded-circle" alt="">
                        <ul class="team-social d-flex">
                            <li>
                                <a class="m-0" title="Twitter" target="_blank" rel="noopener noreferrer" href="#"><i
                                        class="fa fa-facebook"
                                        aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a title="Tumblr" target="_blank" rel="noopener noreferrer" href="#"><i
                                        class="fa fa-tumblr" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a title="Facebook" target="_blank" rel="noopener noreferrer" href="#"><i
                                        class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a title="Instagram" target="_blank" rel="noopener noreferrer" href="#"><i
                                        class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-inner">
                        <div class="team-content">
                            <h6 class="title">Behnam Ahmadi</h6>
                            <span class="sub-title">Backend Developer</span>
                        </div>
                    </div>
                </div>
                <!-- Single Team -->
            </div>
        </div>
    </div>
</div>
<!-- Team Area End -->
<!-- Feature Area Srart -->
<div class="feature-area pt-100px pb-100px">

</div>
<!-- Feature Area End -->
<!-- Testimonial area start -->
<div class="trstimonial-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center m-0">
                    <h2 class="title">Customer Reviews</h2>
                    <p>Customers who have used our products can share their experience here.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Swiper -->
                <div class="swiper-container content-top slider-nav-style-1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testi-inner">
                                <div class="testi-content">
                                    <p>I bought a gaming laptop from your store. Shipping was fast, packaging was great,
                                        and after a month of usage I am still very satisfied.
                                    </p>
                                </div>
                                <div class="testi-author">
                                    <div class="author-image">
                                        <img class="img-responsive" src="assets/images/testimonial/1.png" alt="">
                                    </div>
                                    <div class="author-name">
                                        <h4 class="name">John Wick<span>Customer</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testi-inner">
                                <div class="testi-content">
                                    <p>I bought an HP laptop and I am happy with it. It runs my software smoothly
                                        without freezing.
                                    </p>
                                </div>
                                <div class="testi-author">
                                    <div class="author-image">
                                        <img class="img-responsive" src="assets/images/testimonial/1.png" alt="">
                                    </div>
                                    <div class="author-name">
                                        <h4 class="name">Mahmood<span>Customer</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testi-inner">
                                <div class="testi-content">
                                    <p>I ordered a Dell laptop. The black color was out of stock so I chose white,
                                        and I am still very happy with the purchase.
                                    </p>
                                </div>
                                <div class="testi-author">
                                    <div class="author-image">
                                        <img class="img-responsive" src="assets/images/testimonial/1.png" alt="">
                                    </div>
                                    <div class="author-name">
                                        <h4 class="name">Zahra<span>Customer</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testi-inner">
                                <div class="testi-content">
                                    <p>I used your discounts to buy a birthday gift for my son. He loves it and I am
                                        very satisfied with the value.
                                    </p>
                                </div>
                                <div class="testi-author">
                                    <div class="author-image">
                                        <img class="img-responsive" src="assets/images/testimonial/1.png" alt="">
                                    </div>
                                    <div class="author-name">
                                        <h4 class="name">Jamshid<span>Customer</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-buttons">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial area end-->



{% include 'footer.html' %}
<!-- Footer Area End -->
<!-- Global Vendor, plugins JS -->
<!-- JS Files
============================================ -->
<script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
<script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>
<script src="assets/js/plugins/jquery.countdown.min.js"></script>
<script src="assets/js/plugins/swiper-bundle.min.js"></script>
<script src="assets/js/plugins/scrollUp.js"></script>
<script src="assets/js/plugins/venobox.min.js"></script>
<script src="assets/js/plugins/jquery-ui.min.js"></script>
<script src="assets/js/plugins/mailchimp-ajax.js"></script>

<!-- Minify Version -->
<!-- <script src="assets/js/vendor.min.js"></script>
<script src="assets/js/plugins.min.js"></script>
<script src="assets/js/main.min.js"></script> -->

<!--Main JS (Common Activation Codes)-->
<script src="assets/js/main.js"></script>
</body>

</html>